{{#each this}}
        <ul id="hotstop_{{this.id}}">
            <li>
                <h2 class="hotstop">{{this.route.number}} | {{this.stop.name}} | {{this.direction.name}}</h2>
            </li>
            <li class="route">Route: {{this.route.description}}</li>
            <li class="stop">Stop: {{this.stop.name}}</li>
            <li class="direction">Direction: {{this.direction.name}}</li>
            <li class="scheduled">Next Scheduled Trip:
            <span class="scheduled_time">Loading...</span>
            </li>
            <li class="predicted">Next Predicted Actual:
            <span class="predicted_time">Loading...</span>
            </li>
            <li><a class="delete" href="/hotstops/">Delete</a></li>
            <li><button class="request_departures">Request Departures</button></li>
        </ul>
{{/each}}
